# Omgevingsvariabelen (Geheimen & API keys)
.env*
!.env.example

# Exe / Build / Distributie
*.zip
*.exe
*.spec
dist/*
build/*

# IDE & Editor instellingen
*.code-workspace
.vscode/
.idea/

# Python Bytecode & Cache (Voorkomt dat __pycache__ in Git belandt)
__pycache__/
*.py[cod]
*$py.class

# Virtuele omgevingen (Venv)
venv/
.venv/
env/

# OS specifieke bestanden
Thumbs.db
.DS_Store